@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500&display=swap');

body {
    font-family: 'Mukta', Arial, sans-serif;
}

h2 {
    text-align: center;
}
p {
    font-size: 12px;
}
.flag {
    margin-right: 7px;
    height: 4.25%;
    width: 4.25%;
}
.flagtwo {
    margin-right: 5px;
    height: 4%;
    width: 4%;
}
ul {
    column-count: 3;
    -webkit-columns: 3;
}
li {
    -webkit-column-break-inside: avoid;
}

#list {
    border: 2px solid lightblue;
    border-radius: 10px;
    list-style: none;
    background-color: aliceblue;
    margin: 50px;
    padding: 20px;
}

.region-Africa {
 color: blue;
}
.region-Americas {
    color: green;
}
.region-Asia {
    color: red;
}
.region-Europe {
    color: gold;
}
.region-Oceania {
    color: purple;
}

.pop {
    font-size: 10px;
    color: black;
}

.menu {
    position: sticky;
    top: 0;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
}
nav a {
    opacity: 1;
    position: relative;
    text-decoration: none;
    color: white;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    border-radius: 50px;
    bottom: -3px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1, 1);

}

.search-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.search-btn {
    color: blue;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0;
}

.scrolling-navbar {
    background-color: black;
    opacity: 0.8;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-navbar .menu {
    background-color: black;
}
.scrolling-navbar .nav a {
    height: 6rem;
}

.globe {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-function {
    opacity: 0;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 500px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 20px 2px gray;
}

#search-function.pressed {
    transition-duration: 1s;
    opacity: 1;
}

.button {
    border: transparent;
    background-color: whitesmoke;
}

#input-warning {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, 0);
}